@import "../../css-config/mixins.scss";

.palette-wrapper {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  &__block {
    .text {
      text-align: left;
      margin-bottom: 25px;
      .title {
        font-size: 30px;
        font-family: "Archivo Black", sans-serif;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .subtitle {
        color: #8a8a94;
      }
    }
  }
  &__tiles {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    flex-direction: row;
    .tiles-item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80px;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 1%;
      position: relative;
      cursor: pointer;
      transition: flex-basis 0.15s ease-in-out;
      -webkit-transition: flex-basis 0.15s ease-in-out;
      -moz-transition: flex-basis 0.15s ease-in-out;
      -ms-transition: flex-basis 0.15s ease-in-out;
      -o-transition: flex-basis 0.15s ease-in-out;
      &:first-child {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
      }
      &:last-child {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }
      &:hover {
        flex-basis: 15%;
        span {
          opacity: 1;
        }
      }
      span {
        transition: all 0.3s ease-in-out;
        font-size: 14px;
        font-weight: 600;
        opacity: 0;
        padding: 5px;
        border-radius: 20px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        &:hover {
          background: rgba(235, 235, 235, 0.15);
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1);
        }
      }
    }
  }
}

@include sm {
  .palette-wrapper__block .text {
    text-align: center;
  }
}
