.contrast {
  &-text {
    text-align: center;
    margin-bottom: 50px;
  }
  &-title {
    font-size: 30px;
    font-family: "Archivo Black", sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
  }
  &-subtitle {
    color: #8a8a94;
  }
  &-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    max-width: 800px;
    gap: 20px;
  }
  &-left {
    display: flex;
    flex-direction: column;
    gap: 15px;
    &__head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .title {
        font-size: 25px;
        font-weight: bold;
      }
      .status {
        display: flex;
        align-items: center;
        gap: 3px;
        font-size: 14px;
        font-weight: 600;
        padding: 4px 10px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        &.success {
          background: #d4efdf;
          color: #27ae60;
        }
        &.failed {
          background: #f9ebea;
          color: #c0392b;
        }
        &.good {
          background: #ebf5fb;
          color: #246a99;
        }
        &.some {
          background: #fcf3cf;
          color: #d9b00e;
        }
      }
    }
    &__info {
      padding: 15px 10px;
      box-shadow: 0 1px 15px 7px rgba(0, 0, 0, 0.05);
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      &.black {
        background: #000;
      }
      .title {
        font-size: 18px;
        margin-bottom: 10px;
        font-weight: bold;
      }
      .subtitle {
        font-size: 15px;
        font-weight: 400;
        line-height: 1.6;
      }
    }
  }
}
